<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



  <h3 *ngFor="let c of colors; index as i">
      {{i}} :   {{c}}
  </h3>
  <p>Length of colors is : {{colors.length}} </p>

<br>
<hr>


  <h3 *ngFor="let n of numbers; index as i">
     
      <i *ngIf="(n%2==0); then ifBlock else elseBlock"></i>
     
     <ng-template #ifBlock> {{n}} is Even Number </ng-template>
    
     <ng-template #elseBlock>{{n}} is Odd Number</ng-template>
 </h3>
 

<br>
<hr>
<h3><container-element [ngSwitch]="3">
  <div *ngSwitchCase="1">hello charitha</div>
  <div *ngSwitchCase="2">hello lakshmi</div>
  <div *ngSwitchCase="3">hello jaya</div>
  <div *ngSwitchCase="4">hello latha</div>
  <div *ngSwitchDefault>hello </div>
</container-element></h3>
<router-outlet></router-outlet>
